.container__trello {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
  gap: 5%;
  background-color: rgb(230, 255, 255);
  header {
    @include flex-between;
    height: 150px;
    width: 100%;
    background-color: rgb(225, 198, 251);
    border-radius: 20px;
    padding: 5%;

    time {
      @include flex;
      height: 80px;
      width: 250px;
      font-size: 2.5rem;
      background-color: #fff;
      border-radius: 10px;
    }
  }
}
section {
  height: 500px;
  width: 25%;
  margin: 0 20px;
  background-color: rgb(243, 236, 236);
  border-radius: 20px;

  .todo__wrapper,
  .in-progress__wrapper,
  .done__wrapper {
    @include flex-between;
    height: 60px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    padding: 5%;
    p {
      font-size: 2.5rem;
      font-weight: 700;
      color: #fff;
    }
  }
}
.todo__wrapper {
  background-color: $bgColorTodo;
  h3 {
    text-transform: uppercase;
  }
}
.in-progress__wrapper {
  background-color: $bgColorInProgress;
  h3 {
    text-transform: uppercase;
  }
}
.done__wrapper {
  background-color: $bgColorDone;
  h3 {
    text-transform: uppercase;
  }
}
.todo__ul,
.in-progress__ul,
.done__ul {
  height: 360px;
  margin: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  .todo__ul__li,
  .in-progress__ul__li,
  .done__ul__li {
    height: 170px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    margin: 5px;
    p:nth-child(2),
    p:nth-child(2),
    p:nth-child(2) {
      overflow: auto;
      margin-bottom: 0px;
    }
  }
}
.todo__ul__li {
  h6 {
    height: 20px;
    overflow: auto;
  }
}
.in-progress__ul__li {
  background-color: $bgColorInProgress;
  h6 {
    height: 20px;
    overflow: auto;
  }
}
.done__ul__li {
  background-color: $bgColorDone;
  opacity: 0.6;
  h6 {
    height: 20px;
    text-decoration: line-through;
    overflow: auto;
  }
  p:nth-child(2) {
    text-decoration: line-through;
  }
}
.todo__btn-add,
.done__btn-delete {
  @include btnProperties;
  height: 50px;
  width: 90%;
  border-radius: 10px;
  margin: auto;
  display: block;
}
.todo__btn-add {
  background-color: $bgColorTodo;
}
.done__btn-delete {
  background-color: $bgColorDone;
}
.btn__group {
  display: flex;
  justify-content: space-between;
  select {
    height: 30px;
    width: 80px;
    border-radius: 5px;
  }
}
.btn__group__btn-edit,
.btn__group__btn-delete {
  @include btnProperties;
  height: 30px;
  width: 70px;
  background-color: rgb(236, 142, 142);
  color: #fff;
  border-radius: 5px;
}
.wrapper {
  @include flex-between;
}
textarea {
  resize: none;
}

@media screen and (max-width: 1300px) {
  .btn__group {
    select {
      width: 70px;
    }
  }
  .btn__group__btn-edit,
  .btn__group__btn-delete {
    width: 60px;
  }
}

@media screen and (max-width: 1124px) {
  .container__trello {
    gap: 2%;
  }
  section {
    height: 410px;
    .todo__wrapper,
    .in-progress__wrapper,
    .done__wrapper {
      p {
        font-size: 1.5rem;
      }
    }
  }
  .todo__ul,
  .in-progress__ul,
  .done__ul {
    height: 280px;
    .todo__ul__li,
    .in-progress__ul__li,
    .done__ul__li {
      height: 260px;
      width: 100%;
    }
  }
  .todo__btn-add,
  .done__btn-delete {
    height: 40px;
    width: 60%;
  }
  .btn__group {
    display: flex;
    flex-wrap: wrap;
    select {
      margin: 5px;
      width: 100%;
    }
  }
  .btn__group__btn-edit,
  .btn__group__btn-delete {
    width: 100%;
    margin: 5px;
  }
  .wrapper {
    flex-wrap: wrap;
    p {
      width: 100%;
    }
  }
}

@media screen and (max-width: 840px) {
  .container__trello {
    height: auto;
  }
  section {
    width: 50%;
    margin: 20px 20px 0;
    .todo__wrapper,
    .in-progress__wrapper,
    .done__wrapper {
      width: 100%;
    }
  }
  .btn__group {
    justify-content: center;
    select {
      width: 60%;
    }
  }
  .btn__group__btn-edit,
  .btn__group__btn-delete {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .container__trello {
    header {
      @include flex;
      flex-wrap: wrap;
      time {
        width: 150px;
        font-size: 1.5rem;
        margin: 10px;
      }
    }
  }
  section {
    width: 70%;
    .todo__wrapper,
    .in-progress__wrapper,
    .done__wrapper {
      width: 100%;
    }
  }
  .btn__group {
    select {
      width: 100%;
    }
  }
  .btn__group__btn-edit,
  .btn__group__btn-delete {
    width: 100%;
  }
}
